footer {
    background-color: white;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px #CCC solid;
}
