.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    align-items: center;
    display: flex;
}
.filters ul {
    list-style-type: none;
}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: 30px;
    border: none;
    order: 1;
}
.filters button:hover {
    opacity: .9;
}
.locations, .amenities {
    height: 100%;
    width: 25%;
    padding-left: 30px;
    position: relative;
}
.locations {
    border-right: 1px #DDDDDD solid;
}
.amenities h3, .locations h3 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;
}
.amenities h4, .locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}
.popover {
    background-color: #FAFAFA;
    border: #DDD 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    visibility: hidden;
    width: 100%;
    
}
.popover .h2  {
        font-size: 16px;
        font-weight: bold;
}
.locations:hover .popover, .amenities:hover .popover {
    visibility: visible;
}