.places{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.places h1{
  font-size: 30px;
  
}
.places h2{
  font-size: 30px;
}
.places article{
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: #FF5A5F 1px solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}